VITE_API_BASE_URL=http://localhost:8091
VITE_PAYROLL_BACKEND_SERVER=http://localhost:8091
VITE_KEYCLOAK_ENABLED=true
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=hotelrm
VITE_KEYCLOAK_CLIENT_ID=hotelrm-frontend
VITE_KEYCLOAK_ADMIN_ROLE=hotelrm_admin
